<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<table [ngClass]="'blueTable'">
  <thead>
    <th>S.No.</th>
    <th>Title</th>
    <th>Description</th>
    <th>Date</th>
    <th>No of Registrations</th>
  </thead>
  <tbody>
    <tr *ngFor="let event of eventRecords, let count=index;">
      <td id={{event._id}}>{{count+1}}</td>
      <td>{{event.title}}</td>
      <td>{{event.description}}</td>
      <td>{{event.date | formatDate}}</td>
      <td>{{event.title}}</td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
